#toTop {
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#FF590D;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    z-index: 1000;
}
#toTop span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#toTop:hover {
    background-color:#c42a1a;
    opacity:1;
}
#content .tile article.box {
    padding:5px;
}
#sticky-box-1 {
    display:none;
}
p.copyright {
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 2rem;
}
.open-more {
    overflow: hidden;
    /*margin-bottom: 15px;*/
    position:relative;
}
.open-more.even-desktop .desktop-hidden, .open-more.even-desktop.fondu .action {
    display: block;
} {
    display: block;
}

.open-more.even-desktop {
    height: 250px;
}
.open-more.even-desktop .action {
    display: block;
}
.open-more.fondu .action {
    width: 100%;
    height: 150px;
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset 0px -50px 50px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px -50px 50px 0px rgba(255,255,255,1);
    box-shadow: inset 0px -50px 50px 0px rgba(255,255,255,1);
    background-color: transparent;
    border-top: 0;
}
.open-more.fondu a.button.less, .open-more.fondu a.button.more {
    background-color:lightgrey;
    bottom: 14px;
    left: 50%;
    position:absolute;
    transform: translateX(-50%);
    margin-bottom: 15px;
}

.open-more .action {
    width: 100%;
    height: 40px;
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid lightgrey;
}
.open-more a.button.less, .open-more a.button.more {
    background-color: transparent;
    color: #4a4a4a;
    bottom: -10px;
    left: 50%;
    position:absolute;
    transform: translateX(-50%);
    margin-bottom: 10px;
}
.open-more a.button.less {
    display: none;
}
.open-more a.button:hover {
    text-decoration: none;
}
#gmap {
    height: 0rem;
    /*display:none;*/
}
#gmap-home {
    height: 240px;
}
#gmap-contact {
    height: 100%;
    /*height:400px;*/
}
#gmap-stage {
    height: 100%;
}
.leaflet-pane img {
    max-height: initial;
}

section.header-image {
    margin-top: 20px;
    height: 40vh;
    min-height: 250px;
    max-height: 300px;
}
.written_date {
    text-align:center;
    color:lightgrey;
}
p.gm-style-pbt {
    text-align:center;
}
.desaturate:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    /*grayscale for background image*/
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    /*filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");*/
}

section.header-image.has-specific-image {
    height: 50vh;
    min-height: 350px;
    max-height:50vh;
}
section.header-image.is-home {
    height: 75vh;
    min-height: 450px;
    max-height:75vh;
}

p {
    text-align:justify;
}
.has-text-centered p {
    text-align:center;
}

h1.title {
    font-size: 3rem;
}
nav.navbar.is-fixed-top {
    z-index:1002;
    /*border-bottom: 1px solid lightgrey;*/
}
section.page-cards .one-card > h4 {
    height: 40px;
}
section.page-cards .one-card > div {
    height: 110px;
}

#content {
    margin-bottom:30px;
}
#content .box {
    padding:0;
}

.wp-content.content h3, .wp-content.content h4, #content.content h4{
    margin: 10px auto;
    text-transform: uppercase;
    color: #FF590D;
    text-align: center;
    padding: 0 5px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #707070;
    font-weight: 300;
}
#content.content h4{
    border-bottom: 1px solid #e2e2e2;
}

.wp-content.content h3{
    font-size: 18px;
    border-bottom: 1px solid #707070;
    text-align:left;
}
.wp-content.content h4{
    font-size: 16px;
    color: #4a4a4a;
    border-bottom: 1px solid #707070;
    text-align:left;
}

.wp-content.content h3 a, .wp-content.content h4 a,
h2 a{
    color: #FF590D;
}

section.page-cards.page-cards-images a h4 {
    transition: 0.3s;
}
section.page-cards.page-cards-images a:hover h4 {
    background-color: #FF590D;
    color:white;
}

.gm-style img {
    max-height: inherit;
}

.box.open-more {
    background-color: #f3f3f3;
}

#content.is-home .columns {
    /*background-color: #f3f3f3;*/
    border: 1px solid grey;
    width:80%;
    margin-bottom:2rem;
}
#content.is-home .columns .column {
    padding:0;
}
#content.is-home .columns .column .button {
    margin-bottom:10px;
}
#content.is-home .columns:nth-child(even) {
     margin-left:0;
}
#content.is-home .columns:nth-child(even) {
    margin-left:20%;
}
#content.is-home .columns .column h2 {
    margin: 10px;
}


#content.is-home .columns.two-columns {
    border: 0;
    width:90%;
    margin-bottom:0rem;
}
#content.is-home .columns.two-columns img {

}
#content.is-home .columns.two-columns .column {
    border: 1px solid lightgrey;
    margin:0 1rem;
    margin-bottom:2rem;
}
#content.is-home .columns.two-columns .column .button {

}
#content.is-home .columns.two-columns:nth-child(even),
#content.is-home .columns.two-columns:nth-child(odd){
    margin-left:auto;
    margin-right:auto;
}

#content.is-home .columns.two-columns .column h2 {
    margin: 10px;
}

.fa-quote-left {
    margin-right:0.5rem;
    align-self: flex-start;
    margin-top: 6px;
}
.fa-quote-right {
    margin-left:0.5rem;
    align-self: flex-end;
    margin-bottom: 6px;
}
#post-62 div svg {
    font-size:1.5rem;
}
#post-62 div b, #post-62 p strong {
    display:contents;
}
#post-62 > div {
    width:100%;
    text-align: justify;
    display:flex;
    background-color:white;
    margin-bottom:15px;
}
#post-62 > div i.fa {
    height:1.5rem;
    width:1.5rem;
}
#post-62 > div > div {
    width:100%;
    display: inline;
    border-top: 1px dashed lightgrey;
    border-bottom: 1px dashed lightgrey;
    padding: 5px;
}
/*#post-62 > div:nth-child(even) {*/
    /*margin-left:0;*/
/*}*/
/*#post-62 > div:nth-child(odd) {*/
    /*margin-left:20%;*/
/*}*/

/*#post-62 p:before {*/
    /*content: open-quote;*/
/*}*/
/*#post-62 p:after {*/
    /*content: close-quote;*/
/*}*/

#content.is-home .columns .column p {
    margin-right: 10px;
    margin-left: 10px;
}

#content .wp-content h4 span {
    color:#4a4a4a;
    font-size:16px;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
}

img.alignleft {
    float:left;
    max-width:30%;
    margin-right:1rem;
}
img.alignright {
    float:right;
    max-width:30%;
    margin-left:1rem;
}
img.aligncenter {
    display: block;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}

#content.content ul.menu-list {
    list-style:none;
    margin-left:0;
}
#content.content ul.menu-list li a.is-active {
    background-color: #FF590D;
}

.wp-content .columns.table {
    border: 1px solid #dbdbdb;
    border-bottom:0;
    border-right:0;
}
.wp-content .columns.table p {
    margin:2px 0;
}
.wp-content .columns.table.last {
    border: 1px solid #dbdbdb;
    border-right:0;
    margin-bottom:0.5rem;
}
.wp-content .columns.table .column {
    border-right: 1px solid #dbdbdb;
}

.navbar-brand .navbar-item {
    padding-bottom:25px;
}
.navbar-brand .title-brand {
    font-size:30px;
    font-weight: 400;
}
.navbar-brand .title-brand span {
    font-size:18px;
}
#tomap {
    color: black;
    position: absolute;
    left: 90px;
    top: 41px;
    font-size: 14px;
}
#tomap:hover {
    color:#FF590D;
}

@media screen and (max-width: 1087px) {
    .navbar-end .navbar-item {
        border-bottom: 1px solid lightgrey;
    }
    #content.is-home .columns .column h2 {
        width:95%;
        margin-top:0;
        font-size: 20px;
        text-align:center;
    }
    #content .content h3 {
        text-align:center;
    }
    #content .content h2, #content.content h2, .open-more .content h2, h2 {
        width: 95%;
    }
    #content.is-home .columns {
        margin: 10px auto;
    }
    #content .content p {
        margin: 0 10px;
    }
    #content #post-62.content > p {
        margin-bottom:10px;
        width:95%;
    }

    #content.is-home .columns .column img.alignleft, #content.is-home .columns .column img.alignright {
        width:30%;
        max-width:30%;
        display:none;
    }
    #content.is-home .columns:nth-child(even) {
        margin-left:auto;
    }
    .content table.horaires tr td p {
        text-align:center;
    }

    a.navbar-burger {
        margin: .5rem .75rem;
        margin-left: auto;
        color: #FF590D;
    }
    a.navbar-burger:hover {
        background-color: white;
    }
    a.navbar-burger span {
        background-color: #FF590D;
        left: calc(50% - 12px);
        width: 25px;
        height:3px;
    }
    a.navbar-burger  span:nth-child(1) {
        top: calc(50% - 11px);
    }
    a.navbar-burger.is-active span:nth-child(1) {
        top: calc(50% - 6px);
    }
    a.navbar-burger  span:nth-child(2) {
        top: calc(50% - 1px);
    }
    a.navbar-burger  span:nth-child(3) {
        top: calc(50% + 9px);
    }
    a.navbar-burger.is-active span:nth-child(3) {
        top: calc(50% + 4px);
    }
}

#content .content.contact p {
    text-align:center;
}

section.header-image .info-wrapper.address {
    top: 5px;
    left: 5%;
    bottom: auto;
    width: 20%;
    padding: 2px;
}

@media (min-width: 769px) {
    section.header-image .info-wrapper {
        width:20%;
        left:5%;
    }
}
@media (max-width: 768px) {
    section.header-image {
        background-position: top center;
        margin-top: 16px;
        height: 30vh;
        min-height: 150px;
        max-height:30vh;

    }
    section.header-image.has-specific-image {
        height: 35vh;
        min-height: 200px;
        max-height:35vh;
    }
    section.header-image.is-home {
        height: 70vh;
        min-height: 400px;
        max-height:70vh;
    }

    .bd-footer-links .column.is-6-mobile {
        width:calc(50% - 2px);
    }
    .bd-footer-title {
        text-align:center;
    }
    section.header-image h1.title {
        width: 90%;
        font-size:35px;
    }

    .footer .column {
        display: inline-block;
    }

    section.header-image .info-wrapper {
        width:90%;
        left:5%;
        bottom:5%;
        padding:5px;
    }

    section.header-image .info-wrapper p {
        width:100%;
        float:left;
    }
    .header-image .info-wrapper h3 {
        margin-bottom: 5px;
    }

    section.header-image .info-wrapper a {
        /*float:right;*/
        height: 1.75rem;
    }

    #gmap-contact {
        height: 15rem;
    }

    #gmap-stage {
        height: 15rem;
    }

    #gmap-home {
        height: 15rem;
    }

    .open-more .desktop-hidden {
        display: block;
    }
    .open-more.fondu .desktop-hidden {
        display: block;
    }


    .open-more {
        height: 250px;
    }
    .column.sidebar {
        display:none;
    }
    #content .content.contact p {
        text-align:left;
    }
}

.content div.table {
    margin:0;
}
/*.content div.table:not(:last-child) {*/
    /*border-bottom: 1px solid #dbdbdb;*/
/*}*/
.content div.table .column {
    padding: 0.5rem 0.75rem;
}

footer.footer {
    padding-bottom:0;
}
footer.footer .copyright {
    margin-top:5rem;
}

.content table.horaires {
    border:0;
    margin:0;
    padding:0;
}
.content table.horaires tr {
    border:0;
    margin:0;
    padding:0;
}
.content table.horaires tr th {
    width:33.33333%;
    border:0;
    margin:1px;
    text-align:center;
    padding:0.5rem;
    border: 2px solid white;
    vertical-align:middle;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: normal;
}
.content table.horaires tr td {
    border:0;
    margin:1px;
    text-align:center;
    padding:0.5rem;
    border: 2px solid white;
    vertical-align:middle;
}
.content table.horaires tr td p {
    border:0;
    margin:0;
}
.content table.horaires tr td.debutants {
    background-color:#ff9666;
}
.content table.horaires tr td.inter {
    background-color:lightgrey;
}
.content table.horaires tr td.inter1 {
    background-color:#ff7433;
}
.content table.horaires tr td.inter2 {
    background-color:#ff590d;
}
.content table.horaires tr td.avances {
    background-color:#e64900;
}
#content .content table.horaires tr td {
    border-bottom-width:2px;
}


/*
.columns {
    position:relative;
}
.bloc-haut-background {
    position:absolute;
    opacity:0.3;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.bloc-haut-background img {
    width:100%;
    height:100%;
}
.bloc-haut-content {
    position:relative;
    z-index:1000;
}

.bloc-haut:hover {
    background-color: coral;
    opacity:1;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}
.border-center {
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left: 50%;
    width:1px;
    height:100%;
    background-color:#dbdbdb;
}
.left-34 {
    left: 75%;
}
.bloc-haut {
    background-color:#ddd;
    overflow: hidden;
    position:relative;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}




body .columns {
    margin: 0;
}
body .column {
    margin: 0rem;
}

#content {
    margin-top: 12px;
}

.alignleft {
    float: left;
}
#gmap-stage {
    height: 100%;
}


.desktop-hidden {
    display:none;
}
@media (max-width: 768px) {
    #content .sidebar {
        display:none;
    }
    .contact img {
        margin-left: 1rem;
        margin-right: 0rem;
    }
    #gmap-contact {
        height: 20rem;
    }
    #gmap-stage {
        height: 20rem;
    }
    .open-more .desktop-hidden {
        display:block;
    }
    .open-more {
        height: 250px;
    }
    .columns .column.is-3, .columns .column.is-one-quarter {
        width:auto;
    }
    .columns .column.is-6, .column.is-half {
        width:auto;
    }
    .columns .column.is-4, .column.is-one-third {
        width:auto;
    }
    .columns .column.is-2 {
        width:auto;
    }
    .content div.table .column {
        text-align:center !important;
    }
    .content .column.border-right {
        border-right: 0;
    }
}
.sidebar .tosticky.is-sticky {
    width:calc(25% - 1.5rem);
}
.next-stage {
    position:absolute;
    bottom:5px;
}

.content div.table:not(:last-child) {
    margin-bottom:0;
    border-bottom: 1px solid #dbdbdb;
}
.content div.table .column {
    padding: 0.5rem 0.75rem;
}

.columns .column {
    margin:0 0.75rem;
}

@media (min-width: 769px) {
    .columns .column.is-6, .column.is-half, #content .column.is-half {
        width: calc(50% - 1.5rem)
    }

    .columns .column.is-4, .column.is-one-third {
        width: calc(33.33333% - 1.5rem)
    }

    .columns .column.is-3, .columns .column.is-one-quarter {
        width: calc(25% - 1.5rem)
    }
    .columns .column.is-9, .columns .column.is-three-quarters {
        width: calc(75% - 1.5rem)
    }

    .columns .column.is-2 {
        width: calc(16.66666% - 1.5rem)
    }
    .content .column.border-right {
        box-shadow: 1px 0 0 #dbdbdb;
    }
}



.content table.horaires {
    border:0;
    margin:0;
    padding:0;
}
.content table.horaires tr {
    border:0;
    margin:0;
    padding:0;
}
.content table.horaires tr th {
    border:0;
    margin:1px;
    text-align:center;
    padding:0.5rem;
    border: 2px solid white;
    vertical-align:middle;
    background-color:lightgrey;
}
.content table.horaires tr td {
    border:0;
    margin:1px;
    text-align:center;
    padding:0.5rem;
    border: 2px solid white;
    vertical-align:middle;
}
.content table.horaires tr td p {
    border:0;
    margin:0;
}
.content table.horaires tr td.debutants {
    background-color:lightgreen;
}
.content table.horaires tr td.inter {
    background-color:lightblue;
}
.content table.horaires tr td.inter1 {
    background-color:lightsalmon;
}
.content table.horaires tr td.inter2 {
    background-color:lightcoral;
}
.content table.horaires tr td.avances {
    background-color:crimson;
}

*/